* {
  font-family: "Nanum Gothic" !important;
}

::selection {
  background-color: white;
  color: skyblue;
}
body::-webkit-scrollbar {
  background: none;
  width: 10px;
  margin-bottom: 120px;
}
body::-webkit-scrollbar-thumb {
  background-color: skyblue;
  border-radius: 10px;
  border: 1px solid white;
}
p {
  text-indent: 10px;
}
h4 {
  font-size: 17px;
}

.information-btn {
  cursor: pointer;
  font-size: 15px;
  color: skyblue;
  margin-left: 10px;
}
.information-closer {
  right: 10px;
  position: absolute;
  font-size: 20px;
  margin: 5px;
  cursor: pointer;
}
.information-modall-bg {
  position: fixed;
  background-color: rgba(175, 175, 175, 0.7);
  top: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
.information-modall {
  position: fixed;
  width: 60%;
  height: 70%;
  left: 20%;
  overflow-y: scroll;

  padding: 10px;
  background-color: skyblue;
  color: white;
  border-radius: 10px;
  z-index: 2;
}
@media screen and (max-width: 660px) {
  .information-modall {
    position: fixed;
    width: 95%;
    height: 100%;
    left: 0px;
    top: 0px;
  }
}
.information-modall::-webkit-scrollbar {
  background-color: skyblue;
  border-radius: 10px;
  width: 10px;
}
.information-modall::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}
.information-summary-btn {
  padding: 5px;
  border: none;
  border: skyblue 1px solid;
  background: white;

  font-size: 15px;
  text-align: center;
  font-weight: bold;
  color: skyblue;
  width: 100px;
  cursor: pointer;
}
.information-summary-btn:nth-child(1) {
  border-radius: 5px 0 0 5px;
}
.information-summary-btn:nth-child(3) {
  border-radius: 0 5px 5px 0;
}
.image-resource {
  font-size: 12px;
}
.information-version {
  margin: 0px;
}

.main-container {
  padding: 5px;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  display: inline-block;
}
input[type="checkbox"]:checked + label {
  box-shadow: 0px 0px 5px blue;
  border-radius: 5px;
}
.character-card:checked + label {
  border: 1px solid skyblue;
}
.character-card img {
  width: 80px;
  height: 100px;
}
.control-btn {
  border: solid white 2px;
  border-radius: 10px;
  margin-bottom: 5px;
  float: right;
  width: 80px;
  height: 30px;
  background-color: skyblue;

  color: white;
  font-weight: bold;
}
.sorter-btn-container {
  position: absolute;
  right: 5px;
  margin-top: 10px;
  width: 75px;
}

.selected-character img {
  width: 80px;
  height: 100px;
}
.selected-number {
  font-size: 15px;
  float: right;
}
@media screen and (max-width: 660px) {
  .selected-character {
    transition: 0.5s;
    transition-property: height, position;
    position: fixed;
    bottom: 0px;

    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 5px;
    height: 50px;
    width: 93vw;
    overflow-y: hidden;
  }
  .selected-character-checked {
    transition: 0.5s;
    transition-property: height, position;
    position: none;
    height: 90vh;
    overflow-y: auto;
  }
  .selected-character::-webkit-scrollbar {
    width: 5px;
  }
  .selected-character::-webkit-scrollbar-thumb {
    background-color: skyblue;
  }
  .selected-character h2 {
    cursor: pointer;
    width: 95%;
  }
}
@media screen and (min-width: 660px) {
  .selected-number {
    margin-right: 10px;
    font-size: 20px;
  }
}
.to-top {
  position: fixed;
  bottom: 40px;
  right: 10px;
  width: 50px;

  padding: 5px;
  background-color: rgb(105, 105, 255);
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
.second-top {
  right: 75px;
}

.combination-container {
  font-weight: bold;
}
.combination-images {
  position: relative;
}
.combination-character {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 80px;
  text-align: center;
  z-index: -1;
  color: white;
}

.main-container {
  padding: 10px;
}
.profile-describtion {
  font-weight: bold;
  font-style: oblique;
}
.character-detail-card {
  width: 120px;
}
.character-card-illust {
  width: 250px;
}
.character-profile {
  display: grid;
  grid-template-columns: 260px auto;

  align-items: center;
  background-color: skyblue;
  color: white;
}
.character-profile > .left {
  padding: 5px;
}
.character-profile > .right {
  display: grid;
  grid-template-columns: 100px auto;
}
.character-profile > .right > div {
  margin: 1px;
  padding: 1px;
  border: 1px solid white;
}
.character-profile-column {
  text-align: right;
}

.character-profile-cook {
  display: grid;
  grid-template-columns: 260px auto;

  align-items: center;
  background-color: skyblue;
  color: white;
}
.character-profile-cook .right {
  padding: 10px;
  border: 1px solid white;
  height: 100%;
}
.character-materials {
  display: grid;
  grid-template-columns: 1fr 1fr;

  background-color: skyblue;
}
.character-materials-column {
  border: 1px solid white;
  color: white;
  cursor: pointer;
}
.character-materials-column > div {
  text-align: center;
}
.character-materials-column > div:nth-child(1) {
  border-bottom: 1px solid white;
}
.materials-imgs {
  display: flex;
  align-items: center;

  width: 100%;
}
.materials-imgs > div {
  text-align: center;
  width: 100%;
}
.materials-imgs > div > img {
  height: 100px;
}

.character-materials-list {
  position: absolute;
  background-color: white;
  border-radius: 10px;
  width: 500px;
}
.character-materials-list-line {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: 75px;
}
.character-materials-list-line div {
  position: relative;
  background-color: skyblue;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;

  font-weight: bold;
}
.character-materials-list-line div img {
  max-width: 75px;
  max-height: 75px;
}
.character-materials-list-line .materials-count {
  position: absolute;
  top: 0;
  right: 0;

  padding-bottom: 5px;
  width: 20px;
  height: 20px;
  background-color: skyblue;
  border: blue 1px solid;
  border-radius: 20px;
}
.character-skills {
  display: grid;
  grid-template-columns: 105px 1fr;

  background-color: skyblue;
}
.character-skills div {
  border: 1px solid white;
  min-height: 100px;
  color: white;
}
.character-skills div:nth-child(2n-1) {
  display: flex;
  align-items: center;
}
.character-skills div:nth-child(2n) {
  padding: 10px;
}
.character-skills img {
  width: 100px;
}
.character-weapons {
  display: grid;
  grid-template-columns: 160px 1fr;

  background-color: skyblue;
}
.character-weapons div {
  border: 1px solid white;
  min-height: 100px;
  color: white;
}
.character-weapons div:nth-child(2n-1) {
  display: flex;
  align-items: center;
  padding: 5px;
}
.character-weapons div:nth-child(2n) {
  padding: 10px;
}
.character-weapons img {
  width: 150px;
}
.character-artifacts {
  display: grid;
  grid-template-columns: 200px 1fr;

  background-color: skyblue;
}
.character-artifacts div {
  border: 1px solid white;
  min-height: 100px;
  color: white;
}
.character-artifacts div:nth-child(2n-1) {
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 5px;
}
.character-artifacts div:nth-child(2n) {
  padding: 10px;
}
.character-artifacts img {
  width: 150px;
}
.character-artifacts .artifacts-multi {
  position: relative;
  justify-content: left;
  min-height: 150px;
}
.character-artifacts .artifacts-multi img {
  position: absolute;
  left: 0;
}
.character-artifacts .artifacts-multi img:nth-child(2) {
  position: absolute;
  left: 50px;
}

@media screen and (max-width: 850px) {
  .materials-imgs > div > img {
    width: 100%;
    height: 20%;
  }
}
@media screen and (max-width: 660px) {
  .character-profile {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
  .character-profile > .left {
    text-align: center;
  }

  .character-profile-cook {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
  .character-materials {
    display: grid;
    grid-template-columns: 1fr;

    background-color: skyblue;
  }
  .materials-imgs > div > img {
    width: 50%;
    height: 50%;
  }
  .character-materials-list {
    width: 375px;
  }
  .character-materials-list-line {
    display: grid;
    grid-template-columns: repeat(5, 75px);
    grid-template-rows: 75px;
  }

  .character-weapons {
    display: grid;
    grid-template-columns: 120px 1fr;

    background-color: skyblue;
  }
  .character-weapons img {
    width: 110px;
  }
  .character-artifacts {
    display: grid;
    grid-template-columns: 150px 1fr;

    background-color: skyblue;
  }
  .character-artifacts img {
    width: 150px;
  }
  .character-artifacts .artifacts-multi {
    position: relative;
    justify-content: left;
    min-height: 200px;
  }
  .character-artifacts .artifacts-multi img {
    position: absolute;
    top: 0;
  }
  .character-artifacts .artifacts-multi img:nth-child(2) {
    position: absolute;
    left: 0;
    top: 50px;
  }
}
